<h5>Recommendations:</h5>
<ul>
    <li style="color:red;font-size:20px">aaa</li>
    <li style="color:red;font-size:20px">aaa</li>
    <li style="color:red;font-size:20px">aaa</li>
    <li style="color:red;font-size:20px">aaa</li>
</ul>